<h1>Books</h1>
<div class="index">
  <% @books.each do |book| %>
  <div class="index-title">
    <%= book.title %>
  </div>
  <div class="index-body">
    <%= book.body %>
  </div>
  <%= link_to "show", book_path(book) %>
  <%= link_to "Edit", edit_book_path(book) %>
  <%= link_to "Destroy", book_path(book), method: :delete %>
  <% end %>
</div>


<h1>New book</h1>
<%= form_with model: @book, local:true do |f| %>
<h2>title</h2>
<%= f.text_field :title %>
<h2>body</h2>
<%= f.text_area :body %>
<%= f.submit "Create book" %>
<% end %>