<div class="container">
  <h1 class="heading">Books</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </tr>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td>
          <%= link_to "Show", book_path(book), class: "link" %>
          <%= link_to "Edit", edit_book_path(book), class: "link" %>
          <%= link_to "Destroy", book_path(book), method: :delete, data:{confirm: "Are you sure?" },class: "link" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<div class="container">
  <h2 class="heading">New book</h2>

  <%= render partial: "layouts/form", locals:{book:@book} %>

</div>